@font-face {
font-family:"TT Lakes"; 
src: url("font/TT Lakes/TT Lakes Neue Trial Regular.ttf") format("truetype");
font-weight: 400;
font-style: normal;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "TT Lakes", sans-serif;
  overflow: hidden; 
}

.layout {
  height: 100vh;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: relative;
}

.layout::after {
    content: "";
    position: absolute;
    top: 0;
    right: -100px;
    width: 100px;   
    height: 100%;
    pointer-events: none; 
    background: linear-gradient(to right, rgb(210, 210, 212), rgba(255, 255, 255, 0));
}

.menu__item,
.header__icon img,
.footer__icon,
.footer__lang-item {
  cursor: pointer;
}

.header {
  flex-shrink: 0;
}

.header__icon{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:20px;
    gap: 20px;
}
.header__icon img:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}

.header__icon--search{
   margin-left: auto; 
   width: 40px;
}

.menu {
  flex: 1;                
  overflow-y: auto;       
  overflow-x: hidden;
  font-size: 16px;
}

.menu {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE / Edge */
}

.menu::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.menu__list{
  padding:0;
  list-style:none;   
}

.menu__item{
    display:block;
    padding:15px 20px;
    position: relative;
    cursor: pointer;
}
.menu__item::before{
    content: "";
    position: absolute;

    left: 0;              
    top: 50%;
    transform: translateY(-50%);
    width: 5px;               
    height: 75%; 

    background-color: #41f6d7;
    border-radius: 0 5px 5px 0;

    opacity:0;
}
.menu__item:hover {
color: #7e7e82;
}

.menu__item:hover::before{
    opacity:1;
}

.menu__item.active::before {
    opacity: 1;
    width: 5px;
    background-color: #41f6d7; /* яркая полоска */
}

.menu__item.active {
    color: #7e7e82;
}

.footer {
  flex-shrink: 0;
}

.footer__icons{
   display: flex;
   justify-content:flex-start;
   align-items: center;
   padding:20px;
   gap: 15px;
   margin:0;
}
.footer__icons img:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}

.footer__mail{   
font-weight: 500;
font-size: 16px;
padding:0 0 0 20px;
margin:0;
}

.footer__number{
font-weight: 700;
font-size: 24px;
padding:0 0 0 20px;
margin:15px 0 0 0;
}
.footer__lang-list{
display: flex;
justify-content:flex-start;
align-items: center;
padding:20px;
gap: 15px;
margin:0;
list-style:none;  
}
.footer__lang-list li:hover{
color: #7e7e82;
}